body,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}

th,
td {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 1vh 2vh;
}

.Header {
    display: flex;
    width: 100%;
    box-shadow: 0vh 0 0.3vh 0 rgb(155, 155, 155);
    justify-content: space-between;
}

.Nav,
.Login {
    margin: 1vh 2vh;
    /* make horizontal */
    display: inline-block;
}

.Nav>li,
.Login>li {
    text-align: center;
    /* make horizontal */
    display: inline-block;
}

/* real styling of each nav element */
.Nav>li>a,
.Login>li>a {
    display: block;
    padding: 0.5vh 2vh;
    border-radius: 15px;
    border: solid black 1px;
    /* animate hover change */
    transition: border-radius 0.2s;
}

.Nav>li>a:hover,
.Login>li>a:hover {
    border-radius: 5px;
}

/* make login on right */
.Login {
    float: right;
}

.Title {
    text-align: center;
}

/* center div trick :) */
.Center {
    width: 100%;
    text-align: center;
}

/* table in the center of page if in "Center" div */
/* Using a flexbox to create a table that looks nicer than a table */
.FlexBox {
    display: flex;
    width: 80%;
    margin: 0 10%;
    row-gap: 2vh;
    flex-direction: column;
}

/* alternate colours per row */
.FlexTable:nth-child(even) {
    background-color: rgb(240, 240, 240);
}

.FlexTable:nth-child(odd) {
    background-color: rgb(221, 221, 221);
}

/* keep first row a header style */
.FlexTable:first-child {
    color: white;
    background-color: black;
}

/* Each "row" */
.FlexTable {
    border-radius: 30px;
    width: 100%;
    overflow: hidden;
}

/* seperate the elements across the "row" */
.FlexRow {
    margin: -2px 0px;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
}

/* allow the last child to have a different bg colour */
.FlexRow>td:last-child {
    margin-right: -5px;
}

/* Grid to structure web page */
.GridContainer {
    margin-top: 3vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 0vh;
}
/* Title, desc, ect */
.MainGrid {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-areas:
        "GridTitle"
        "GridDescription"
        "GridSolution";
    row-gap: 3vh;
    border-radius: 20px;
    border: solid black;
    justify-items: left;
    align-items: center;
    margin: 0 3vh 0 6vh;
    padding: 3vh;
}
/* id, date, ect. */
.SideGrid {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "GridId"
        "GridCatagory"
        "GridDate";
    row-gap: 3vh;
    border-radius: 20px;
    border: solid black;
    justify-items: center;
    align-items: center;
    margin: 0 6vh 0 3vh;
    padding: 3vh 0;
}
/* Grid elements */
.GridTitle {
    grid-area: GridTitle;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
}

.GridDescription {
    grid-area: GridDescription;
}

.GridSolution {
    grid-area: GridSolution;
}
.GridId {
    grid-area: GridId;
    font-weight: bold;
}

.GridCatagory {
    grid-area: GridCatagory;
}

.GridDate {
    text-align: center;
    grid-area: GridDate;
}
/* Grid elements end */
.Comments {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1vh 9vh;
    column-gap: 6vh;
}
.Comment {
    border: solid gray 1px;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 2vh;
}
.Comment > .Content {
    padding: 2vh;
}
.Header > p {
    margin: 1vh 3vh;
}