body,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}
th, td {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 1vh 2vh;
}

.Header {
    display: inline-block;
    width: 100%;
    box-shadow: 0vh 0 0.3vh 0 rgb(155, 155, 155);
}

.Nav,
.Login {
    margin: 1vh 2vh;
    /* make horizontal */
    display: inline-block;
}

.Nav>li,
.Login>li {
    text-align: center;
    /* make horizontal */
    display: inline-block;
}

/* real styling of each nav element */
.Nav>li>a,
.Login>li>a {
    display: block;
    padding: 0.5vh 2vh;
    border-radius: 15px;
    border: solid black 1px;
    /* animate hover change */
    transition: border-radius 0.2s;
}

.Nav>li>a:hover,
.Login>li>a:hover {
    border-radius: 5px;
}

/* make login on right */
.Login {
    float: right;
}

.Title {
    text-align: center;
}

/* center div trick :) */
.Center {
    width: 100%;
    text-align: center;
}

/* table in the center of page if in "Center" div */
.FlexBox {
    display: flex;
    width: 80%;
    margin: 0 10%;
    row-gap: 2vh;
    flex-direction: column;
}
.FlexTable:nth-child(even) {
    background-color: rgb(240, 240, 240);
}
.FlexTable:nth-child(odd) {
    background-color: rgb(221, 221, 221);
}
.FlexTable:first-child {
    color: white;
    background-color: black;
}
.FlexTable {
    border-radius: 30px;
    width: 100%;
    overflow: hidden;
}
.FlexRow {
    margin: -2px 0px;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
}
.FlexRow > td:last-child {
    margin-right: -5px;
}