body,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

body {
    background-color: rgb(235, 235, 235);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}

th,
td {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 1vh 2vh;
}

.Header {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 14%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    width: 100%;
    box-shadow: 0vh 0 0.3vh 0 rgb(155, 155, 155);
    justify-content: space-between;
}

.Nav,
.Login {
    margin: 1vh 2vh;
    /* make horizontal */
    display: inline-block;
}

.Nav>li,
.Login>li {
    overflow: hidden;
    text-align: center;
    /* make horizontal */
    display: inline-block;
}

/* real styling of each nav element */
.Nav>li>a,
.Login>li>a {
    color: white;
    display: block;
    padding: 0.5vh 2vh;
    border-radius: 15px;
    border: solid rgb(255, 255, 255) 2px;
    /* animate hover change */
    transition: border-radius 0.2s;
}

.Nav>li>a:hover,
.Login>li>a:hover {
    border-radius: 5px;
}

/* make login on right */
.Login {
    float: right;
}

.Title {
    text-align: center;
}

/* center div trick :) */
.Center {
    width: 100%;
    text-align: center;
}

/* table in the center of page if in "Center" div */
/* Using a flexbox to create a table that looks nicer than a table */
.FlexBox {
    display: flex;
    width: 80%;
    margin: 0 10%;
    row-gap: 2vh;
    flex-direction: column;
}

/* alternate colours per row
.FlexTable:nth-child(even) {
    background-color: rgb(240, 240, 240);
}

.FlexTable:nth-child(odd) {
    background-color: rgb(221, 221, 221);
} */

/* keep first row a header style */
.FlexTable:first-child {
    color: white;
    background-color: black;
}

/* Each "row" */
.FlexTable {
    background-color: white;
    box-shadow: 10px 10px 10px lightgray;
    border-radius: 30px;
    width: 100%;
    overflow: hidden;
}

/* seperate the elements across the "row" */
.FlexRow {
    margin: -2px 0px;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
}

/* allow the last child to have a different bg colour */
:root {
    --status0: rgb(78, 47, 0);
    --status1: rgb(255, 196, 0);
    --status2: rgb(170, 102, 0);
    --status3: rgb(204, 0, 0);
    --status4: rgb(0, 177, 0);
}

.Status0 {
    color: white;
    background-color: var(--status0);
}

.Status0body {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top: solid var(--status0) 2px;
    border-right: solid var(--status0) 2px;
    border-bottom: solid var(--status0) 2px;
}

.Status1 {
    color: white;
    background-color: var(--status1);
}

.Status1body {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top: solid var(--status1) 2px;
    border-right: solid var(--status1) 2px;
    border-bottom: solid var(--status1) 2px;
}

.Status2 {
    color: white;
    background-color: var(--status2);
}

.Status2body {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top: solid var(--status2) 2px;
    border-right: solid var(--status2) 2px;
    border-bottom: solid var(--status2) 2px;
}

.Status3 {
    color: white;
    background-color: var(--status3);
}

.Status3body {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top: solid var(--status3) 2px;
    border-right: solid var(--status3) 2px;
    border-bottom: solid var(--status3) 2px;
}

.Status4 {
    color: white;
    background-color: var(--status4);
}

.Status4body {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top: solid var(--status4) 2px;
    border-right: solid var(--status4) 2px;
    border-bottom: solid var(--status4) 2px;
}

/* Grid to structure web page */
.GridContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 4fr;
    gap: 1vh 3vh;
    grid-template-areas:
        "GridTitle GridId"
        "GridDescription GridCatagory"
        "GridSolution GridDate"
        "GridSolution .";
    padding: 3vh;
}

.GridTitle,
.GridDescription,
.GridSolution,
.GridId,
.GridCatagory,
.GridDate {
    background-color: white;
    box-shadow: 0 0 1vh gray;
    padding: 2vh;
}

.GridTitle {
    grid-area: GridTitle;
}

.GridDescription {
    grid-area: GridDescription;
}

.GridSolution {
    grid-area: GridSolution;
}

.GridId {
    grid-area: GridId;
}

.GridCatagory {
    grid-area: GridCatagory;
}

.GridDate {
    grid-area: GridDate;
}

/* Make comments same width and main section */
.Comments {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 3vh;
    padding: 3vh;
}

.Comment {
    box-shadow: 0 0 1vh rgb(189, 189, 189);
    border-left: solid gray 0.5px;
}

.Comment>.Comment {
    margin-left: 3vh;
}

.CommentHead {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(184, 184, 184);
}
.CommentHead > p {
    margin: 2vh;
}

.Content {
    padding: 2vh;
    background-color: white;
}